.container {
  padding: 35px 0px 40px 0px;
}
.card-horizontal {
  width: 380px;
  border-left: 5px solid #d6c609;
  padding: 20px 10px 10px 20px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ededed;
}
.modal-content {
  margin: 0 auto;
}
.modal-dialog {
  padding-top: 3rem;
  background: white;
  padding: 10px;
}
.align-ment {
  display: flex;
}
.card-title1 {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  /* padding-top:20px; */
}

.card-text1 {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 5px;
}

.btn_aling {
  padding-top: 20px;
  text-align: right;
}

.btn-color {
  background: linear-gradient(
    89.37010098317455deg,
    rgba(40, 199, 40, 1) 20.17955595717423%,
    rgba(40, 199, 40, 1) 21.303196204703514%,
    rgba(29, 99, 12, 1) 80.10703582540263%
  );
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 0.4px;
  padding: 9px 20px 9px 20px;
}

.card-margin {
  margin-top: 10px;
}

.former-padd {
  padding-left: 25px;
}

.border-color {
  border-right: 1px solid #ededed;
}

@media (max-width: 762px) {
  .row {
    margin: 0px;
  }

  .card-row {
    padding: 30px 20px 20px 20px;
  }

  .card-horizontal {
    width: 280px;
  }

  .former-padd {
    padding-left: 10px;
  }

  .card-title1 {
    font-size: 9px;
  }

  .card-text1 {
    font-size: 8px;
  }

  .btn-color {
    font-size: 10px;
    padding: 7px 12px 7px 12px;
  }
}

#enquirypopup .modal-dialog {
  width: 500px;
  padding: 0px;
  position: relative;
}
@media (max-width: 500px) {
  #enquirypopup .modal-dialog {
    width: 410px;
  }
}

#enquirypopup .modal-dialog:before {
  content: "";
  height: 0px;
  width: 0px;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 1px;
  left: -14px;
  z-index: 99;
}

.custom-modal-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#enquirypopup .modal-dialog .close {
  z-index: 99999999;
  right: 6px;
  position: absolute;
  opacity: 1;
}

.custom-modal-header .modal-title {
  /* font-weight: bold; */
  font-size: 18px;
}

#enquirypopup .modal-dialog:after {
  content: "";
  height: 0px;
  width: 0px;
  /* border-right: 50px solid rgba(255, 0, 0, 0.98); */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 1px;
  right: -14px;
  z-index: 999999;
}

.form-group {
  margin-bottom: 15px !important;
}
// .formGroup {
//   text-align: center;
// }

.form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.close {
  padding: 1rem 30px 0px 0px;
}

.modal-content {
  border-radius: 0%;
}
.bottom {
  display: flex;
}
.exist {
  padding: 0px 0px 0px 1rem;
}
.login {
  font-family: montserrat;
}
.rigister {
  padding-right: 5px;
}
.or {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #bada55;
}
.icons {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
i.fa {
  padding: 10px;
  font-size: 30px;
}
.with {
  text-align: center;
}
i.fa.fa-facebook-square {
  color: #3b5998;
}
i.fa.fa-twitter {
  color: #28aae1;
}
i.fa.fa-linkedin {
  color: #0077b5;
}
i.fa.fa-instagram {
  color: #eb4924;
}
.logo {
  text-align: center;
  width: 100%;
  float: right;
}
.title {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 20px 0px 30px 0px;
  border-bottom: 3px solid;
}
@media (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}
.inq {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 0px 0px 30px 0px;
}
@media (max-width: 768px) {
  .inq {
    font-size: 15px;
  }
}
.content {
  display: flex;
}
.include {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 0px 0px 0px 10px;
}
@media (max-width: 768px) {
  .include {
    font-size: 13px;
  }
}
.card-text {
  font-family: Montserrat;
  font-size: 85.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #397c86;
  border-bottom: 1px solid;
}
@media (max-width: 768px) {
  .card-text {
    font-size: 35px;
  }
}
.adjble {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
  padding: 0px 0px 10px 0px;
}
@media (max-width: 768) {
  .adjble {
    padding: 20px 0px 10px 0px;
  }
}
.number_sdj {
  display: flex;
  border-bottom: 3px solid;
}
.quotient {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.percieved {
  display: flex;
  padding: 30px 0px 0px 20px;
}
@media (max-width: 768px) {
  .percieved {
    padding: 10px 0px 0px 20px;
  }
}
.perce {
  display: flex;
  padding: 3.5rem 0px 0px 20px;
}
@media (max-width: 768px) {
  .perce {
    padding: 1rem 0px 0px 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.solutions {
  display: none;
}
@media (max-width: 500px) {
  .solutions {
    display: block;
  }
}
.somewhere {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  /* padding-left: 13px; */
  /* padding: 1rem 0px 0px 13px; */
}
@media (max-width: 500px) {
  .somewhere {
    padding: 0rem 0px 0px 4rem;
  }
}
@media (max-width: 500px) {
  .where {
    padding: 0rem 0px 0px 4rem;
  }
}

.nab {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.where {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.male {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 10px 0px 10px 0px;
}
@media (max-width: 768px) {
  .male {
    font-size: 15px;
  }
}
.mat-input-element {
  background: transparent;
  border: 1px solid white;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid white;
  float: left;
  width: 90%;
  border-radius: 0px;
  opacity: 0.25;
  border-right: none;
  color: darkmagenta;
}
@media (max-width: 500px) {
  form.example input[type="text"] {
    padding: 0px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 60%;
    background: #f1f1f1;
    border-radius: 0px;
    opacity: 0.25;
    margin-left: 1.5rem;
    border-right: none;
  }
}
.list-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  padding: 0px 0px 20px 0px;
}
.up_to_date {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  font: bold;
  font-weight: bold;
}
.percent {
  font-family: Montserrat;
  font-size: 32px;
  text-align: left;
  color: #000000;
}
.mahindra {
  font-family: Montserrat;
  font-size: 32px;
  text-align: left;
  color: #000000;
}
.range {
  font-family: Montserrat;
  font-size: 14px;
  text-align: left;
  color: #000000;
}
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #0797ae;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.85;
}
@media (max-width: 500px) {
  form.example button {
    float: left;
    width: 10%;
    background: #0797ae;
    color: white;
    font-size: 14.1px;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 1px;
    opacity: 0.85;
  }
}
.company2 {
  padding-left: 55px;
}
.top-companies-text {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
@media (max-width: 768px) {
  .top-companies-text {
    text-align: center;
  }
}
.percieved {
  display: flex;
  padding: 30px 0px 0px 20px;
}
@media (max-width: 768px) {
  .percieved {
    padding: 10px 0px 0px 30px;
  }
}
@media (max-width: 500px) {
  .percieved {
    padding: 10px 0px 0px 50px;
  }
}
.perce {
  display: flex;
  padding: 3.5rem 0px 0px 20px;
}
@media (max-width: 768px) {
  .perce {
    padding: 1rem 0px 0px 30px;
  }
}
@media (max-width: 500px) {
  .perce {
    padding: 1rem 0px 0px 50px;
  }
}
.newsletter ::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

.styled-select select {
  size: 100px;
}
.card {
  border: none;
}
.alin {
  align-items: center;
  margin: 0 auto;
  padding-top: 5rem;
}
.first {
  width: 40%;
  border-right: 0.1px solid gray;
  padding-left: 10px;
}
@media (max-width: 500px) {
  .first {
    width: 100%;
  }
}
.title_wrap {
  text-align: center;
}
.logo_wrap {
  padding: 5rem 0px 5rem 0px;
}
// .displayTableCell {
//   background: #0797ae;
// }
.icon_wrap {
  padding: 20px 0px 20px 0px;
}

.container-fluid {
  background: url(../../../assets/banner-image1.png);
  height: 137px;
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.btn-form-group{
  text-align: center;
}